<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<style>
    body{background-color:aqua;}
    input{float:left;width:50%;padding:15px;}
    button{text-align:center;border:70px solid red;}
</style>
<body>
<form action="login" method="POST">
  {% csrf_token %}
   <input type="text" name="username" placeholder="enter your user name"><br>
    <input type="password" name="password" placeholder="enter your password"><br>
    <input type="submit">
</form>

</body>
</html>